---
layout: default
---

<h2 class="ap-project-title-single">{{page.title}}</h2>
<p class="ap-project-timestamp-single">{{page.year}}</p>

{% if page.images %}
<div class="ap-project-gallery">
    {% for image in page.images %}
    <figure class="ap-project-gallery-item">
        <img src="{{image.src | relative_url}}" alt="{{image.caption}}"/>
        {% if image.caption %}<figcaption class="ap-project-gallery-caption">{{image.caption}}</figcaption>{% endif %}
    </figure>
    {% endfor %}
</div>
{% endif %}

{% if page.project-url %}
<p class="ap-project-url-single">URL: <a href="{{page.project-url}}" target="_blank">{{page.project-url}}</a></p>
{% endif %}

{% if content %}
<div class="ap-project-content">
    <h2>Project Details</h2>
    {{content}}
</div>
{% endif %}
{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
